python-dotenv
blinker
click
colorama
Flask
Flask-SQLAlchemy
Flask-WTF
greenlet
itsdangerous
Jinja2
MarkupSafe
Pillow
prettytable
python-dateutil
six
SQLAlchemy
typing_extensions
wcwidth
Werkzeug
WTForms
google-auth-oauthlib
google-auth-httplib2 
google-api-python-client