/* Custom Colors */
:root {
/* Background and Text Colors */
--text-color-primary: #333;         /* Dark text for high readability */
--primary-color: #5b5b5b;           /* Main Background Color, a light neutral */
--secondary-color: #aa7aea;         /* Accent Color, a bright and saturated color */

/* Dark and Accent Colors */
--dark-color: #555;                /* Dark Color for Texts, Borders */
--darker-color: #222;              /* Even Darker Color for Headers, Footers */
--black-color: #000;               /* Black color for High Contrast Texts */
--tertiary-color: #6B8E23;         /* Tertiary color for extra highlights, a muted green */
--quaternary-color: #E6E6E6;       /* Quaternary color for lighter backgrounds, a very light neutral */

/* Semantic Colors */
--light-color: #CCCCCC;            /* Light Color for secondary highlights */
--error-color: #FF0000;            /* Error color */
--success-color: #4CAF50;          /* Success color */
--info-color: #2196F3;             /* Info color */
--warning-color: #FF9800;          /* Warning color */
}

/* General Styles */
body {
    color: var(--dark-color);
    position: relative; /* Add relative positioning to the body */
    font-family: Poppins-Medium, sans-serif;
    background-image: url('uploads/imgs/topper.png');
    background-size: 100% auto; /* Cover the entire width and maintain aspect ratio */
    background-repeat: no-repeat;
    background-position: center top; /* Center the image horizontally and align it to the top */
    background-attachment: fixed; /* Keep the background fixed */
}

/* Create a gradient overlay at the bottom */
body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Adjust the height to control where the gradient starts */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.88));
    pointer-events: none; /* Allows interaction with content beneath */
    z-index: -1; /* Place the gradient below the content */
}

/* Header and Footer Styles */
header, footer {
  background-color: var(--darker-color);
  color: var(--text-color-primary);
  padding: 10px;
}

/* Navigation Bar Styles */
.navbar {
  background-color: rgba(247, 247, 247, 0.26); /* Adjust the alpha value (0.7) for the desired transparency */
}

.navbar .nav-link {
  color: #6e6e6e;
}

.navbar .nav-link:hover {
  color: #49324d;
}


/* List Styles */
.list-group {
  font-size: 1rem;
}

.horizontal-list {
  display: flex;
  justify-content: space-between; /* Spread items evenly */
  list-style: none;
  padding: 5px;
  color: #272727;
  width: calc(100% - 20px);
}

/* Margin Styles */
.custom-margin {
  margin: 15px; /* Adjust the margin size as needed */
}

/* Card Styles */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 100%; /* Adjust the card width as needed */
  margin: 2%; /* Add spacing between cards */
  border: 1px solid var(--secondary-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px); /* Add blur effect */
}

.new-card-header {
  background-color: rgba(247, 247, 247, 0); /* 40% transparent background color */
  color: var(--black-color);
  padding: 5px;
  text-align: center;
  backdrop-filter: blur(0px); /* Add blur effect */
}

.card-body {
  color: var(--black-color);
  padding: 15px; /* Adjust the padding as needed */
  text-align: left;
}

.custom-card {
  margin: 3%;
  border-radius: 13px;
  border: 1px solid transparent;
  box-shadow: 1px 2px 30px 3px #00000026;
  border-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0)) 1;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.5) 100%);
  height: 300px;
}

/* Image Styles */
img {
  max-width: 200%;
  height: auto;
  border-radius: 10px;
}

/* Table Styles */
table, th, td {
  border: 1px solid var(--dark-color);
}

th {
  background-color: var(--secondary-color);
  color: var(--black-color);
}

/* Button Styles */
.btn, .btn-dark {
  background-color: var(--dark-color);
  color: var(--primary-color);
}

.btn:hover, .btn-dark:hover {
  background-color: var(--secondary-color);
}

/* Primary Button */
.btn-primary {
  background-color: var(--secondary-color);
  color: var(--black-color);
}

.btn-primary:hover {
  background-color: var(--primary-color);
}

/* Secondary Button */
.btn-secondary {
  background-color: var(--darker-color);
  color: var(--primary-color);
}

.btn-secondary:hover {
  background-color: var(--secondary-color);
}

/* Link Styles */
a {
  color: var(--dark-color);
  text-decoration: none;
}

a:hover {
  color: var(--darker-color);
  text-decoration: underline;
}

/* Inputs and Text Areas */
.form-control {
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  color: var(--dark-color);
}

.form-control:focus {
  background-color: var(--secondary-color);
  color: var(--black-color);
}

/* Alerts */
.alert-success {
  background-color: var(--secondary-color);
  border: 1px solid var(--dark-color);
  color: var(--black-color);
}

.alert-warning {
  background-color: var(--secondary-color);
  border: 1px solid var(--darker-color);
  color: var(--black-color);
}

.alert-error {
  background-color: var(--dark-color);
  border: 1px solid var(--darker-color);
  color: var(--primary-color);
}

/* Custom Button Styles */
.custom-button {
  background-color: var(--darker-color);
  color: var(--quaternary-color);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
  border-radius: 15px; /* Add rounded corners */
  margin-right: 10px; /* Add spacing between buttons */
}

.custom-button:hover {
  background-color: var(--secondary-color);
  color: var(--black-color);
}

/* List Styles */
.list-group {
  font-size: 1rem;
}

.horizontal-list {
  display: flex;
  list-style: none;
  padding: 5px;
  color: #272727;
}

.horizontal-list li {
  margin-right: 10px; /* Add spacing between items */
}

/* Margin Styles */
.custom-margin {
  margin: 25px; /* Adjust the margin size as needed */
}

.box {
  border-radius: 13px;
  border: 1px solid transparent;
  box-shadow: 1px 2px 30px 3px #00000026;
  border-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0)) 1;
  background: linear-gradient(180deg, rgba(217, 217, 217, 0.4) 0%, rgba(217, 217, 217, 0.7) 100%);
}


/* Target the table itself */
.table-custom {
  /* Your custom table styles here */
  width: 100%; /* Make the table full width, for example */
  border-collapse: collapse; /* Remove default cell spacing */
  border: 1px solid #ccc; /* Add a border */
}

/* Target table headers */
.table-custom th {
  /* Your custom header styles here */
  background-color: rgba(223, 160, 234, 0.2); /* Change header background color */
  color: #333; /* Change header text color */
  font-weight: bold; /* Make header text bold */
  padding: 10px; /* Adjust header cell padding */
}

/* Target table rows */
.table-custom tr {
  /* Your custom row styles here */
  background-color: #fff; /* Change row background color */
}

/* Target table cells */
.table-custom td {
  /* Your custom cell styles here */
  padding: 8px; /* Adjust cell padding */
  border: 1px solid #ccc; /* Add cell borders */
}

/* Target table hover effect */
.table-custom tr:hover {
  /* Your custom hover effect styles here */
  background-color: #f5f5f5; /* Change row background color on hover */
}

/* Target table striped rows (if using Bootstrap's striped class) */
.table-custom .table-striped tbody tr:nth-of-type(odd) {
  /* Your custom striped row styles here */
  background-color: #f9f9f9; /* Change striped row background color */
}