{% extends "layout.html" %}

{% block content %}
<body>
    <div class="container my-5">
        <h1 class="mb-5 text-center" style="color: rgb(56, 56, 56);">Full List</h1>

        <div class="section card border-secondary mb-3">
            <table class="table table-striped text-center">
                <thead class="table-primary fw-bold">
                    <tr>
                        <th >Name</th>
                        <th>Warranty Duration</th>
                        <th>Date Bought</th>
                        <th>Thumbnail</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% for item in items %}
                        <tr class="text-center" style="vertical-align: middle;">
                            <td>
                                <h5 class="text-secondary" style="font-size: 24px;">{{ item.name }}</h5>
                            </td>
                
                            <td>
                                <h5 class="text-secondary" style="font-size: 18px;"> {{ item.warranty_dur }} months </h5>
                            </td>
                
                            <td>
                                <h5 class="text-secondary" style="font-size: 18px;"> {{ item.date_bought }} </h5>
                            </td>
                
                            <td>
                                <a href="{{ url_for('item_page', item_id=item.id) }}">
                                    {% if item.thumbnail %}
                                        <img src="{{ url_for('static', filename=item.thumbnail[7:]) }}" alt="{{ item.name }}" width="100" height="100">
                                    {% endif %}
                                </a>
                            </td>
                
                            <td>
                                <div style="margin-bottom: 10px;;">
                                    <a href="{{ url_for('update_item_route', item_id=item['id']) }}" class="btn btn-info">Update</a>
                                </div>
                                <div style="margin-bottom: 5px;">
                                    <a href="{{ url_for('delete_item_route', item_id=item['id']) }}" class="btn btn-danger">Delete</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                
            </table>
        </div>
                
        <div class="text-center custom-margin">
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
                Delete All
              </button>              
        </div>

        <div class="text-center custom-margin">
            <a href="{{ url_for('home')}}" type="button" class="btn btn-dark"> Back </a>
        </div>
    </div>

    <div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" style="color: whitesmoke;" id="deleteModalLabel">Delete All Items</h5>

              <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"></span>
              </button>
            </div>

            <div class="modal-body">
                <h6 class="modal-dialog-centered" style="color: whitesmoke;"> Are you sure you want to delete all items in the database?</h6>
            </div>
            
            <div class="modal-footer">
                <form action="{{ url_for('delete_all_items_route') }}" method="POST">
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
</body>



{% endblock %}
