{% extends "layout.html" %}

{% block content %}
<div class="container my-5">
    <h1 class="mb-5 text-center" style="color: var(--black-color);">Item Details</h1>
    <div class="section card" style="background-color: var(--primary-color); border: 1px solid var(--secondary-color); box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);">
        <h2 class="text-center" style="color: var(--black-color);">Item Name: {{ item[1] }}</h2>
        <p class="text-center text-info" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: var(--black-color);">Warranty Expiration Date: {{ item[5] }}</p>
        <p class="text-center" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: var(--black-color);">Date Bought: {{ item[3] }}</p>
        
        {% if days_to_expiration >= 0 %}
        <div class="text-center">
            <div class="text-center">
                <p style="color: var(--black-color);">Days until warranty expiration: {{ days_to_expiration }}</p>
            </div>
            
            <div class="progress m-lg-auto" style="max-width: 80%;">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{ progress_width }}%;" aria-valuenow="{{ days_to_expiration }}" aria-valuemin="0" aria-valuemax="{{ total_warranty_days }}"></div>
            </div>
            
            <div class="text-center custom-margin">
                <a href="{{ url_for('add_calendar_reminder', item_id=item[0]) }}" class="btn btn-primary">Add Expiration Reminder</a>
            </div>
        </div>
        {% else %}
        <p class="text-center" style="color: var(--black-color);">Warranty Expired</p>
        {% endif %}

        <div class="text-center mb-5 mt-5">
            <img src="{{ url_for('static', filename=file_path) }}" alt="Thumbnail" width="150" height="150">
        </div>
    </div>

    <div class="text-center custom-margin">
        <a href="{{ url_for('update_item_route', item_id=item[0]) }}" class="btn btn-primary">Edit Item</a>
    </div>
    
    <div class="text-center custom-margin">
        <a href="{{ url_for('home') }}" class="btn btn-secondary">Back</a>
    </div>
</div>
{% endblock %}
