{% extends "layout.html" %}

{% block content %}

<body>
    <div class="container my-5">
        <h1 class="mb-5 text-center" style="color: rgb(56, 56, 56);">Recently Added Items</h1>
        <div class="section card border-secondary mb-3">
            <table class="table-custom ">
                <thead class="table-custom text-center">
                    <tr >
                        <th class="fw-bold">Thumbnail</th>
                        <th class="fw-bold">Name</th>
                        <th class="fw-bold">Date Added</th>
                    </tr>
                </thead>

                <tbody>
                    {% for item in recent_items %}
                        <tr>
                            <td class="text-center">
                                <a href="{{ url_for('item_page', item_id=item.id) }}">
                                    {% if item.thumbnail %}
                                        <img src="{{ url_for('static', filename=item.thumbnail[7:]) }}" alt="{{ item.name }}" width="100" height="100">
                                    {% endif %}
                                </a>
                            </td>

                            <td class="text-center">
                                <h5 class="text-secondary" style="font-size: 24px;">{{ item.name }}</h5>
                            </td>

                            <td class="text-center">
                                <h5 class="text-secondary" style="font-size: 18px;">
                                    {{ item.date_bought }}
                                </h5>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="text-center">
            <a href="{{ url_for('home') }}" class="btn btn-dark">Back</a>
        </div>
    </div>
</body>



{% endblock %}
